### scipy-notebook

ipywidgets
pandas
numexpr
matplotlib
scipy
seaborn
scikit-learn
scikit-image
sympy
cython
patsy
statsmodels
cloudpickle
dill
numba
bokeh
sqlalchemy
h5py
vincent
beautifulsoup4
protobuf
xlrd
